h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif; }

p {
  font-family: "Karla", sans-serif; }

body {
  font-family: "Karla", sans-serif; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-repeat: repeat-y;
  background-image: url("../images/svg/main-bg.svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cust_container_fluid {
  padding: 0 100px; }

.inner-container {
  padding: 80px; }

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .inner-container {
    padding: 5px; } }

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */
.intro-section {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

.about-section {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

.services-section {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

.contact-section {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

/* Loader Code */
.main-time-change-loader {
  width: 100%;
  height: 100%;
  left: 0px;
  background: #fff;
  opacity: 0.68;
  border: 0px;
  outline: none; }

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%; }

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px; }

.loader:before {
  content: '';
  display: block;
  padding-top: 100%; }

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%,
  90% {
    stroke: #ffa700; } }

@keyframes color {
  100%,
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%,
  90% {
    stroke: #ffa700; } }

/* End of Loader Code */
.logo-box img.logo {
  width: 122px; }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }
  .top-nav-collapse {
    padding: 5px; } }

section#intro {
  margin-top: 85px; }

.hero-paragraph {
  opacity: 0.7;
  letter-spacing: 0.3px;
  text-align: justify;
  line-height: 2.2;
  margin-left: 25px; }

.vertical-text.about-text {
  top: 53%;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: bold;
  left: 40px; }

.vertical-text.about-text::before {
  width: 2px;
  content: "";
  height: 43px;
  background: #060606;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -9px;
  right: 107px; }

.vertical-text.latest-text {
  top: 50%;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: bold;
  left: -2%; }

.vertical-text.latest-text::before {
  width: 2px;
  content: "";
  height: 43px;
  background: #060606;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -9px;
  right: 200px; }

.hero-img .funky-over-font {
  width: 120px;
  top: 40%;
  left: -12%;
  font-size: 17.5px;
  letter-spacing: 11px;
  line-height: 2;
  color: #847f7f; }

.work-card .projects-desc {
  margin: 50px auto 50px auto; }

section#intro .push-text {
  margin-left: 15px; }

.work-card .tags-wrapper {
  margin: 25px 0px; }

.hero-heading {
  font-size: 40px;
  line-height: 1.4; }

.vertical-text {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  float: left;
  position: absolute; }

.vertical-text-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  float: right;
  position: absolute; }

.no-text-push {
  margin-left: 0px; }

.well-white {
  background: #fff;
  border: 0px; }

.cust-conatainer-fluid {
  padding: 120px; }

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .cust-conatainer-fluid {
    padding: 10px; } }

.white {
  background: #fff; }

.no-padding {
  padding: 0px; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.display-in-block {
  display: inline-block; }

.tag {
  font-weight: 100;
  font-family: Karla, sans-serif;
  border-radius: 2px;
  background: #444;
  background: #fff;
  border: 1px solid #615e5e;
  text-transform: capitalize;
  color: #444;
  font-size: 16px;
  opacity: 0.7;
  font-size: 14px;
  padding: 7px 16px;
  margin: 0 3px;
  letter-spacing: 2.5px; }

.explore-btn {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
  opacity: 0.75;
  cursor: pointer; }

.explore-btn::before {
  width: 2px;
  content: "";
  height: 34px;
  background: #060606;
  position: absolute;
  top: -8px;
  left: -48px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.explore-btn:hover {
  transition: all 0.4s ease-out;
  opacity: 0.6; }
