h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif; }

p {
  font-family: "Karla", sans-serif; }

body {
  font-family: "Karla", sans-serif; }

.section-head {
  font-weight: 600;
  opacity: 0.5;
  line-height: 3;
  position: relative; }

.text-italic {
  font-style: italic; }

.author-name {
  font-size: 25px;
  line-height: 1.3; }

.section-head:after {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 5px;
  /* background: #444;*/
  content: '';
  left: 48.35%; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-repeat: repeat-y;
  background-image: url("../images/svg/main-bg.svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

a {
  font-weight: 400;
  color: #0107ff;
  text-decoration: none; }

.insta-post-appender {
  margin: 0 3px; }

.insta-post-appender > img {
  padding: 3px;
  width: 101%;
  box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.04); }

.insta-post-appender::before {
  position: absolute;
  width: 100%;
  content: '';
  height: 100%;
  top: 0px;
  background: #fff;
  opacity: 0.3; }

section#insta .virtual-flexbox-grid {
  padding: 0 180px;
  margin: 75px auto 75px auto; }

ul.nav.navbar-nav.navbar-right li {
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative; }

ul.nav.navbar-nav.navbar-right li > a {
  color: #444; }

.small-mrg-t-b {
  margin: 35px 0; }

.aLink {
  color: #000;
  text-decoration: none; }

.owl-carousel .owl-item img {
  -webkit-filter: grayscale(65%);
  -moz-filter: grayscale(65%);
  -o-filter: grayscale(65%);
  -ms-filter: grayscale(65%);
  filter: grayscale(65%); }

.owl-carousel.owl-drag .owl-item img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  transition: all 0.3s ease-in;
  cursor: pointer; }

.cust_container_fluid {
  padding: 0 100px; }

.inner-container {
  padding: 55px 80px; }

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .inner-container {
    padding: 5px; } }

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */
.intro-section {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

section#my-work {
  height: auto !important; }

.about-section {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

.services-section {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

.contact-section {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

.clear-float {
  float: left;
  width: 100%; }

section#medium_blog {
  margin-top: 75px; }

section#medium_blog .logo-wrapper {
  background-color: #f3f3f3;
  height: 100%;
  margin-bottom: 0px;
  padding: 0;
  border-radius: 0;
  border: 0; }

section#medium_blog .logo-wrapper > img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.4s ease-in; }

section#medium_blog .logo-wrapper > img:hover {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  transition: all 0.4s ease-in; }

section#medium_blog .medium-card-wrp:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  transition: all 0.4s ease-in;
  box-shadow: 0 13px 18px 0 rgba(37, 35, 35, 0.17); }

section#medium_blog .medium-card-wrp {
  margin: 50px 0 0 0;
  color: #3c3838;
  transition: all 0.4s ease-in;
  cursor: default;
  background-color: #f9f9f9; }

/*section#my-work .project-hero-img:before {
    content: '';
    background: #000000;
    position: absolute;
    width: 98%;
    height: 100%;
    opacity: 0.45;
}*/
section#my-work .project-hero-img {
  webkit-filter: grayscale(60%);
  -moz-filter: grayscale(60%);
  -o-filter: grayscale(60%);
  -ms-filter: grayscale(60%);
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%); }

/* Loader Code */
.main-time-change-loader {
  width: 100%;
  height: 100%;
  left: 0px;
  background: #fff;
  opacity: 0.68;
  border: 0px;
  outline: none; }

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%; }

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px; }

.loader:before {
  content: '';
  display: block;
  padding-top: 100%; }

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%,
  90% {
    stroke: #ffa700; } }

@keyframes color {
  100%,
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%,
  90% {
    stroke: #ffa700; } }

/* End of Loader Code */
.logo-box img.logo {
  width: 122px; }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    border-bottom: 0px; }
  .top-nav-collapse {
    padding: 5px;
    background: rgba(249, 249, 249, 0.98) !important;
    box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.04); } }

ul.nav.navbar-nav.navbar-right li > a:hover {
  color: #000;
  transition: all 0.4s ease-in;
  opacity: 1; }

nav.mob-header {
  background: #fff;
  border: 0px; }

nav.mob-header a.navbar-brand {
  margin-left: calc(50% - 44px);
  margin-top: 7px; }

nav.mob-header a.navbar-brand > img {
  height: 60px; }

section#intro {
  margin-top: 85px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  section#intro {
    margin-top: -6px; } }

section.resume {
  margin-top: 50px; }

section.resume .context {
  padding: 45px 25px;
  border: 1px solid #f3ecec;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23dcd8e3' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

section.resume .context .heading {
  line-height: 1.5;
  margin-top: 5px; }

section#intro .hero-paragraph {
  font-size: 17px;
  opacity: 0.7;
  text-align: justify;
  line-height: 2.2;
  margin-left: 25px;
  margin-top: 31px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  section#intro .hero-paragraph {
    margin-top: 21px;
    font-size: 15px; } }

.hero-paragraph {
  opacity: 0.7;
  text-align: justify;
  line-height: 2.2;
  margin-left: 25px;
  font-size: 15px; }

.hero-img {
  margin-top: 13%; }

.vertical-text.about-text {
  top: 53%;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: bold;
  left: 40px; }

.vertical-text.about-text::before {
  width: 2px;
  content: "";
  height: 43px;
  background: #060606;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -9px;
  right: 107px; }

.vertical-text.latest-text {
  top: 50%;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: bold;
  left: -2%; }

.vertical-text.latest-text::before {
  width: 2px;
  content: "";
  height: 43px;
  background: #060606;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -9px;
  right: 200px; }

.work-card {
  margin: 75px 0 25px 0; }

.hero-img img {
  width: 435px;
  height: auto;
  webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%); }

.hero-img .funky-over-font {
  width: 120px;
  top: 40%;
  left: -12%;
  font-size: 14px;
  letter-spacing: 11px;
  line-height: 2;
  /* background: #777b77; */
  padding: 13px 11px;
  color: #353232;
  opacity: 0.9;
  font-weight: 700; }

.quote-text {
  font-size: 3rem;
  line-height: 1.8; }

.author-name {
  font-size: 2rem; }

.quote-block .content {
  font-size: 18px; }

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  section#intro .call-to-action-btns .btn {
    margin: 9px 0 12px 0; }
  .work-card .project-hero-img img {
    height: 250px !important; }
  .hero-paragraph {
    font-size: 13px; }
  .project-name-head > strong {
    font-size: 21px; }
  .mob-about-me-txt {
    margin-left: -25px; }
  .quote-text {
    font-size: 2rem; }
  .author-name {
    font-size: 1.7rem; }
  .quote-block .content {
    font-size: 1.45rem; } }

.work-card .projects-desc {
  margin: 50px auto 50px auto; }

section#intro .push-text {
  margin-left: 15px; }

.work-card .tags-wrapper {
  margin: 25px 0px; }

.project-name-head > strong {
  letter-spacing: 0.1px;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 300; }

section.loader-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 5555; }

.tools-slider > div img {
  height: 65px; }

section#skillset {
  margin: 75px auto 0px auto;
  border-top: 1px solid #fafafa; }

section#thank-you {
  margin: 75px auto 15px auto; }

section#my_playlist {
  margin-top: 75px; }

section#thank-you:before {
  content: '';
  position: absolute;
  border: 1px solid #000;
  width: 89px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  /* height: 5px; */
  left: calc(50% - 45px); }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  section#thank-you:before {
    border: 0px; } }

#contact_me .content {
  font-size: 2.3rem;
  line-height: 2.5; }

section#skillset .owl-prev > i,
section#skillset .owl-next > i {
  position: absolute;
  top: 10%;
  color: #9e9999;
  transition: all 0.3s ease-in-out; }

section#skillset .owl-prev > i:hover,
section#skillset .owl-next > i:hover {
  color: #444;
  transition: all 0.3s ease-in;
  -webkit-transform: translateX(5px);
          transform: translateX(5px); }

section#contact_me {
  margin-top: 100px; }

.custom-next-owl-btn {
  right: -6%; }

.custom-prev-owl-btn {
  left: -6%; }

section#my-work a {
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease-out; }

.hero-heading {
  font-size: 40px;
  line-height: 1.4; }

.vertical-text {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  float: left;
  position: absolute; }

.vertical-text-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  float: right;
  position: absolute;
  right: -235px;
  top: 48%;
  font-size: 17px;
  letter-spacing: 9px; }

.no-text-push {
  margin-left: 0px; }

.text-slant {
  font-style: italic; }

.hero-font {
  font-family: "Playfair Display", serif; }

.sub-font {
  font-family: "Karla", sans-serif; }

.menu-link {
  position: relative; }

.menu-link:after {
  position: absolute;
  left: 0%;
  content: '';
  height: 1px;
  background: #000;
  transition: width 0.3s linear;
  width: 0%;
  bottom: 0; }

.menu-link:hover:after {
  width: 105%; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fnt-white {
  color: #fff; }

.explore-btn.fnt-white::before {
  background: #eee; }

.opacity-light {
  opacity: 0.62; }

.opacity-superlight {
  opacity: 0.45; }

.case-study.quote-block .support-text:hover {
  cursor: default;
  opacity: 0.85;
  transition: all 0.3s ease-in; }

.well-white {
  background: #fff;
  border: 0px; }

.cust-conatainer-fluid {
  padding: 0 120px; }

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .cust-conatainer-fluid {
    padding: 10px; } }

.white {
  background: #fff; }

.no-padding {
  padding: 0px; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.display-in-block {
  display: inline-block; }

.display-block {
  display: block; }

.minimal-padding {
  padding: 3px; }

.no-padding {
  padding: 0px; }

.block {
  display: block; }

.overflow_hide {
  overflow: hidden; }

.tag {
  font-weight: 100;
  font-family: Karla, sans-serif;
  border-radius: 2px;
  border: 0px solid #615e5e;
  text-transform: capitalize;
  color: #444;
  font-size: 16px;
  /* opacity: 0.7; */
  padding: 11px 30px;
  margin: 7px 3px;
  letter-spacing: 2.5px;
  font-size: 12px;
  color: #000;
  background: #f7f7f7;
  border: 1px solid #eaeaea;
  display: inline-block;
  text-transform: uppercase; }

.explore-btn {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
  opacity: 0.75;
  cursor: pointer; }

.explore-btn::before {
  width: 2px;
  content: "";
  height: 34px;
  /*background: #060606;*/
  position: absolute;
  top: -8px;
  left: -48px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.explore-btn:hover {
  transition: all 0.4s ease-out;
  opacity: 0.6; }

.btn {
  border-radius: 2px;
  box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.04);
  transition: all 0.55s ease-in; }

.btn:hover {
  transition: all 0.4s ease-in;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.08); }

.btn-lg {
  padding: 10px 20px; }

.btn-black {
  background: #0107ff;
  color: #eee;
  letter-spacing: 0.6px;
  text-transform: uppercase; }

.btn-black:hover {
  color: #fff; }

.btn-white {
  color: #000;
  background: #f7f7f7;
  border: 1px solid #eaeaea; }

.explore-big-btn {
  width: 20%;
  height: 50%;
  left: 40%;
  background: #fff;
  color: #000;
  border-radius: 2px;
  top: 25%;
  transition: all 0.4s ease-in;
  cursor: pointer; }

.explore-big-btn:hover {
  background: #000;
  color: #fff;
  transition: all 0.4s ease-in; }

section#my-work .project-hero-img:hover {
  webkit-filter: grayscale(25%);
  -moz-filter: grayscale(25%);
  -o-filter: grayscale(25%);
  -ms-filter: grayscale(25%);
  -webkit-filter: grayscale(25%);
  filter: grayscale(25%);
  transition: all 0.5s ease-in; }

.explore-big-btn h3 {
  position: relative;
  top: 35%;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px; }

.card-container {
  background-color: rgba(249, 249, 249, 0.98) !important;
  box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.04);
  padding: 0px; }

.music-card .header {
  height: 350px;
  background: #fafafa;
  background: url("../images/jpg/guitar_pose.jpg") center center;
  /*background: url('http://www.placehold.it/350X450') center center;*/
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0 89%);
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0 89%); }

.music-card .header:after {
  content: '';
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.45; }

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite; }

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  stroke-width: 1px;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes colors {
  0% {
    stroke: #444; }
  25% {
    stroke: #555; }
  50% {
    stroke: #666; }
  75% {
    stroke: #444; }
  100% {
    stroke: #000; } }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .explore-big-btn h3 {
    font-size: 1.65rem;
    top: 33%; } }

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .explore-big-btn h3 {
    font-size: 2rem;
    top: 33%; } }
