.no-padding{
    padding: 0px;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

.display-in-block{
    display: inline-block;
}

.display-block{
    display: block;
}

.minimal-padding{
    padding: 3px;
}

.no-padding{
    padding: 0px;
}


.block{
    display: block;
}