.hero-heading{
    font-size: 40px;
    line-height: 1.4;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
    float: left;
    position: absolute;
}

.vertical-text-right{
    transform: rotate(90deg);
	transform-origin: left top 0;
    float: right;
    position: absolute;
    right: -235px;
    top: 48%;
    font-size: 17px;
    letter-spacing: 9px;
}

.no-text-push{
    margin-left: 0px;
}

.text-slant{
    font-style: italic;
}

.hero-font{
    font-family: $primary-font;
}

.sub-font{
     font-family: $supporting-font;
}