.hero-heading{
    font-size: 40px;
    line-height: 1.4;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
    float: left;
    position: absolute;
}

.vertical-text-right{
    transform: rotate(90deg);
	transform-origin: left top 0;
    float: right;
    position: absolute;
    right: -235px;
    top: 48%;
    font-size: 17px;
    letter-spacing: 9px;
}

.no-text-push{
    margin-left: 0px;
}

.text-slant{
    font-style: italic;
}

.hero-font{
    font-family: $primary-font;
}

.sub-font{
     font-family: $supporting-font;
}

.menu-link{
    position: relative;
}
.menu-link:after{
    	position: absolute;
    left: 0%;
	content: '';

	height: 1px;
    background: #000;
    transition: width 0.3s linear;
    width: 0%;
    bottom: 0;  
}

.menu-link:hover:after {
	width: 105%;
    
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.fnt-white{
    color: #fff;
}

.explore-btn.fnt-white::before{
    background: #eee;
}

.opacity-light{
    opacity:0.62;
}

.opacity-superlight{
    opacity: 0.45;
}
.case-study.quote-block .support-text:hover{
    cursor: default;
    opacity: 0.85;
    transition: all 0.3s ease-in;
}