.logo-box img.logo{
    width: 122px;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        border-bottom: 0px;
    }

    .top-nav-collapse {
        padding: 5px;
        background: rgba(249,249,249,0.98) !important;
        box-shadow: 0 13px 18px 0 rgba(0,0,0,.04);

    }
}

ul.nav.navbar-nav.navbar-right li > a:hover{
    color: #000;
    transition: all 0.4s ease-in;
    opacity: 1;
}
nav.mob-header{
    background: #fff;
    border: 0px;
}
nav.mob-header a.navbar-brand{
    margin-left: calc(50% - 43px);
    margin-top: 7px;
}
nav.mob-header a.navbar-brand>img{
  height: 65px;
}