html {
    width: 100%;
    height: 100%;
}


body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-repeat: repeat-y;
    background-image: url('../images/svg/main-bg.svg');
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    
}

.insta-post-appender{
    padding: 10px 15px;
    margin: 10px 0;

}

