 .explore-btn {
     font-size: 14px;
     font-weight: 600;
     letter-spacing: 3px;
     position: relative;
     opacity: 0.75;
     cursor: pointer;
 }

 .explore-btn::before {
     width: 2px;
     content: "";
     height: 34px;
     background: #060606;
     position: absolute;
     top: -8px;
     left: -48px;
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
 }

 .explore-btn:hover {
     transition: all 0.4s ease-out;
     opacity: 0.6;
 }

 .btn {
     border-radius: 2px;
     box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.04);
     transition: all 0.55s ease-in;
 }

 .btn:hover{
     transition: all 0.4s ease-in;
     transform: translateY(-4px);
     box-shadow:  0 13px 18px 0 rgba(0, 0, 0, 0.08);
 }

 .btn-lg {
     padding: 10px 20px;
 }

 .btn-black {
    background: #0107ff;
    color: #eee;
    letter-spacing: 0.6px;
    text-transform: uppercase;
 }
 .btn-black:hover{
     color: #fff;
 }

 .btn-white {
     color: #000;
     background: #f7f7f7;
     border: 1px solid #eaeaea;
 }

 .explore-big-btn {
     width: 20%;
     height: 50%;
     left: 40%;
     background: #fff;
     color: #000;
     border-radius: 2px;
     top: 25%;
     transition: all 0.4s ease-in;
     cursor: pointer;
 }

 .explore-big-btn:hover {
     background: #000;
     color: #fff;
     transition: all 0.4s ease-in;
 }

 .explore-big-btn h3 {
     position: relative;
     top: 35%;
     font-size: 3rem;
     text-transform: uppercase;
     letter-spacing: 5px;
 }