section#intro {
    margin-top: 85px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    section#intro {
    margin-top: -6px;
    }
}

.hero-paragraph {
    opacity: 0.7;
    text-align: justify;
    line-height: 2.2;
    margin-left: 25px;
    font-size: 17px;
}

.hero-img {
    margin-top: 13%;
}

.vertical-text.about-text {
    top: 53%;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
    left: 40px;
}

.vertical-text.about-text::before {
    width: 2px;
    content: "";
    height: 43px;
    background: #060606;
    position: absolute;
    transform: rotate(90deg);
    top: -9px;
    right: 107px;
}

.vertical-text.latest-text {
    top: 50%;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
    left: -2%;
}

.vertical-text.latest-text::before {
    width: 2px;
    content: "";
    height: 43px;
    background: #060606;
    position: absolute;
    transform: rotate(90deg);
    top: -9px;
    right: 200px;
}

.work-card {
    margin: 75px 0;
}

.hero-img img {
    width: 435px;
    height: auto;
    webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.hero-img .funky-over-font {
    width: 120px;
    top: 40%;
    left: -12%;
    font-size: 14px;
    letter-spacing: 11px;
    line-height: 2;
    /* background: #777b77; */
    padding: 13px 11px;
    color: #353232;
    opacity: 0.9;
    font-weight: 700;
}

.quote-text {
    font-size: 3rem;
    line-height: 1.8;
}

.author-name {
    font-size: 2rem;
}

.quote-block .content {
    font-size: 18px;
}


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    section#intro .call-to-action-btns .btn {
        margin: 9px 0 12px 0;
    }
    .work-card .project-hero-img img {
        height: 250px !important;
    }
    .hero-paragraph {
        font-size: 13px;
    }
    .project-name-head>strong {
        font-size: 21px;
    }
    .mob-about-me-txt {
        margin-left: -25px;
    }
    .quote-text {
        font-size: 2rem;
    }
    .author-name {
        font-size: 1.7rem;
    }
    .quote-block .content {
        font-size: 1.45rem;
    }
}

.work-card .projects-desc {
    margin: 50px auto 50px auto;
}

section#intro .push-text {
    margin-left: 15px;
}

.work-card .tags-wrapper {
    margin: 25px 0px;
}

.project-name-head>strong {
    letter-spacing: 0.1px;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 300;
}

section.loader-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 5555;
}

.tools-slider>div img {
    height: 65px;
}

section#skillset {
    margin: 100px auto 0px auto;
    border-top: 1px solid #fafafa;
    padding: 50px 0;
}

section#thank-you {
    margin: 75px auto 15px auto;
}

section#thank-you:before {
    content: '';
    position: absolute;
    border: 1px solid #e4e4e4;
    width: 89px;
    transform: rotate(90deg);
    /* height: 5px; */
    left: calc(50% - 45px);
}

#contact_me .content {
    font-size: 2.3rem;
    line-height: 2.5;
}

section#skillset .owl-prev>i,
section#skillset .owl-next>i {
    position: absolute;
    top: 10%;
    color: #9e9999;
    transition: all 0.3s ease-in-out;
}

section#skillset .owl-prev>i:hover,
section#skillset .owl-next>i:hover {
    color: #444;
    transition: all 0.3s ease-in;
    transform: translateX(5px);
}

section#contact_me {
    margin-top: 100px;
}

.custom-next-owl-btn {
    right: -6%;
}

.custom-prev-owl-btn {
    left: -6%;
}

section#my-work a {
    color: #444;
    text-decoration: none;
    transition: all 0.3s ease-out;
}